.prompt {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  font-weight: bold;
  font-family: Arial Calibri;
  text-align: center;
}

.buttons-container {
  height: 30px;
  background: gray;
  display: flex;
  padding: 5px;
}

.buttons-container button {
  flex: 1 1 0;
}
